<!DOCTYPE html>
<html>
<head>
	<title>SOFT SERVE CASE - Menu</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/menu.css">
	<link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Roboto+Mono|Special+Elite" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/main.js"></script>
	<script type="text/javascript" src="../javascript/menu.js"></script>
</head>
<body>
<div class="corner"> <img src="../images/file.png"><img class="ghosty" src="../images/file_ghost.png"></div>
<div class="notepadnav">
	<div class="nav">
		<ul>
			<li><a href="../index.html">HOME</a></li>
			<li><a href="story.html">STORY</a></li>
			<li><a href="suspects.html">SUSPECTS</a></li>
			<li><a href="parlor.html">PARLOR</a></li>
			<li><a href="menu.html">MENU</a></li>
		</ul>
	</div>
	<div class="notepad"><img src="../images/notepad.png"><img class="ghosty" src="../images/notepad_ghost.png"></div>
</div>

<div class="o"><img src="../images/o.png"><img class="ghosty" src="../images/o1.png"></div>

<div class="column">
	<div class="reg">
		<p>You take a menu from a flyer holder attached to the front of the door. Your sweet tooth compels you...!</p>
		<div class="menu">
			<img src="../images/icecream.png">
			<div class="menuwords"><i>VANILLA</i> | <i>CHOCO</i> | <i>STRAWBERRY</i> | <span class="spe">&#9733;</span><i>BERRY SWING</i> | <span class="spe">&#9733;</span><i>SPIDER'S WEB</i></div>
		</div>
		<p>Looks like a nice mix of classic flavors and special flavors. "<i>Spider's Web</i>" sounds quite strange, though...</p>
		<p>Huh?</p>
		<img src="../images/nameit.png">
		<p>This new flavor matches the mascot. That's quite cute. It doesn't appear to have a name, but you could have sworn you heard it before...</p>
		<p><i>WHAT WAS THE NAME?</i></p>
		<input id="flavorname" type="text" placeholder="FLAVOR NAME"> <button>NAME IT?</button>
		<p class="secret"></p>
	</div>

	<div class="ghostbox">
		<p>You feel a sudden chill. You can't help but recall the missing person's face when you read "<i>Spider's Web</i>"...</p>
		<div class="menu">
			<img class="ghosty" src="../images/icecream_ghost.png">
			<div class="menuwords"><i>VANILLA</i> | <i>CHOCO</i> | <i>STRAWBERRY</i> | &#9733;<i>BERRY SWING</i> | &#9733;<i>SPIDER'S WEB</i></div>
		</div>
		<p>That fine, gossamer hair... It reminds you of a ghost story you heard about an ice cream parlor, but it can't be the same parlor, can it...?</p>
		<p>You look up, and nearly jump out of your skin. For a second you think you see a face that isn't yours staring at you from within the fogged up windows.</p>
		<p>Why do you feel like you should check the other pages and follow your INSTINCTS?</p>
		<a href="story.html"><i>CONTINUE...?</i></a>
	</div>
</div>


</body>
</html>