<!DOCTYPE html>
<html>
<head>
	<title>SOFT SERVE CASE - Parlor</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Roboto+Mono|Special+Elite" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/main.js"></script>
</head>
<body>
<div class="corner"> <img src="../images/file.png"><img class="ghosty" src="../images/file_ghost.png"></div>
<div class="notepadnav">
	<div class="nav">
		<ul>
			<li><a href="../index.html">HOME</a></li>
			<li><a href="story.html">STORY</a></li>
			<li><a href="suspects.html">SUSPECTS</a></li>
			<li><a href="parlor.html">PARLOR</a></li>
			<li><a href="menu.html">MENU</a></li>
		</ul>
	</div>
	<div class="notepad"><img src="../images/notepad.png"><img class="ghosty" src="../images/notepad_ghost.png"></div>
</div>

<div class="o"><img src="../images/o.png"><img class="ghosty" src="../images/o1.png"></div>

<div class="column">
	<div class="reg">
		<p>The glass of the parlor's windows fogs up as you peer inside from the moonlit streets.</p>
		<img src="../images/parlor.png">
		<p>So this is the supposed scene of the crime, where the victim was last seen before they vanished. It's a wonder such a tiny place hasn't closed down yet.</p>
		<p>It's empty. Not even the janitor is inside. You should come back tomorrow morning to talk to the employees properly.</p> 
	</div>
	<div class="ghostbox">
		<p>The ghost stories about this parlor suddenly don't seem so ridiculous anymore. Never in your life could you have imagined chatting with an amnesiac ghost to solve a case.</p>
		<img class="ghosty" src="../images/parlor_ghost.png">
		<p>It's not just a missing person case anymore, is it? You now have a legitimate murder on your plate. Who was The Mascot? Why were they killed? What was their connection to the incident from five years ago?</p>
		<p>Before you could ponder any further, you suddenly become aware of the steady, pulsating wail of a distant police siren.</p>
		<p>You should probably run.</p>
		<p>[ END OF TEASER ]</p>
	</div>

	<a href="menu.html"><i>CONTINUE</i></a>
</div>


</body>
</html>