<!DOCTYPE html>
<html>
<head>
	<title>SOFT SERVE CASE - Story</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Roboto+Mono|Special+Elite" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/main.js"></script>
</head>
<body>
<div class="corner"> <img src="../images/file.png"><img class="ghosty" src="../images/file_ghost.png"></div>
<div class="notepadnav">
	<div class="nav">
		<ul>
			<li><a href="../index.html">HOME</a></li>
			<li><a href="story.html">STORY</a></li>
			<li><a href="suspects.html">SUSPECTS</a></li>
			<li><a href="parlor.html">PARLOR</a></li>
			<li><a href="menu.html">MENU</a></li>
		</ul>
	</div>
	<div class="notepad"><img src="../images/notepad.png"><img class="ghosty" src="../images/notepad_ghost.png"></div>
</div>

<div class="o"><img src="../images/o.png"><img class="ghosty" src="../images/o1.png"></div>
<div class="column">
	<div class="reg">
		<img src="../images/building.png">
		<p>It started with a midnight call.</p>
		<p>It was an anonymous plea to look into a missing persons case from five years ago. The caller insisted that the victim was actually killed.</p>
		<p>The supposed scene of the crime? An ice cream parlor.</p>
		<p>You are <i>PRIVATE INVESTIGATOR NOVA</i>. Normally, the notion of murder doesn't exactly get your heart singing, but a case like this should be simple enough, right?</p>
		<p><i>***</i></p>
		<img src="../images/faces.png">
		<p>Your research turned up with four people who are directly connected to the parlor: 
			<ul>
				<li>the store's sole ice cream server</li>
				<li>the part-timer who worked as the store's mascot</li>
				<li>the night-time janitor</li>
				<li>and the often-absent owner of the store.</li>
			</ul>
		<p>It's a pitifully small list, but at least it quickens the job. What was each person's connection to the event from five years ago?</p>
	</div>

	<div class="ghostbox">
		<img class="ghosty" src="../images/building_ghost.png">
		<p>It started with a midnight call.</p>
		<p>This time, your bleeding heart for helpless clients and curiosity for strange cases has landed you in deep, ice cream flavored-sh*t. What even possessed you to do this?</p>
		<p>You burst in the empty parlor, the air chilled and now frosty with shattered glass, and you find yourself stumbling into the back room only to find...</p> 
		<img class="ghosty" src="../images/rip_ghost.png">
		<p>A body.</p>
		<p>A fresh body. Not one that belonged to the missing person from five years ago, but <i>The Mascot</i>. But that's not even the most shocking discovery...</p>
	</div>
	<a href="suspects.html"><i>CONTINUE</i></a>
</div>

</body>
</html>