<!DOCTYPE html>
<html>
<head>
	<title>SOFT SERVE CASE - Suspects</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/suspects.css">
	<link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Roboto+Mono|Special+Elite" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/main.js"></script>
	<script type="text/javascript" src="../javascript/suspects.js"></script>
</head>
<body>
<div class="corner"> <img src="../images/file.png"><img class="ghosty" src="../images/file_ghost.png"></div>
<div class="notepadnav">
	<div class="nav">
		<ul>
			<li><a href="../index.html">HOME</a></li>
			<li><a href="story.html">STORY</a></li>
			<li><a href="suspects.html">SUSPECTS</a></li>
			<li><a href="parlor.html">PARLOR</a></li>
			<li><a href="menu.html">MENU</a></li>
		</ul>
	</div>
	<div class="notepad"><img src="../images/notepad.png"><img class="ghosty" src="../images/notepad_ghost.png"></div>
</div>
<div class="o"><img src="../images/o.png"><img class="ghosty" src="../images/o1.png"></div>
<div class="column">
	<!-- interrogation here -->
	<h2 class="whomst"></h2>
	<img class="whomstimage" src="">
	<img class="whomstimage ghosty" src="">
	<!-- server -->
	<div class="sustalk servertalk">
		<p><i>"</i> Hmm? I can't possibly be a suspect, right? You think I had the time to do something that gutsy with these shifts?</p>
		<p>I've only worked here for, like, what... two, three years? I always had my eyes on this place though. The Owner's a real sweetheart. This place used to be bustling with spirit and I was determined to bring it back! I even created a new flavor the other day based on the store's mascot: Phoenix Frost. It was such a hit!</p>
		<p>But that's enough talk from me. <i>In my opinion, the most suspicious one was always THE JANITOR</i>. They're always staring at me and snooping around. What a creep!<i>"</i></p>
	</div>
	<!-- mascot -->
	<div class="sustalk mascottalk">
		<p>There was nothing to identify the part-timer working as the mascot. No address, no phone number, no name.</p>
		<p>It seems The Mascot is unavailable... that, or they want to be left alone.</p>
	</div>
	<!-- mascot GHOST -->
	<div class="sustalk ghosttalk">
		<p><i>"</i> Holy smokes, a real detective!</p>
		<p>You can see me, huh? You're looking right at me, even though I'm, like, super duper frozen solid dead on the ground over there at the same time. Everyone I've met so far has ignored me, so I guess that makes me a ghost. This is kinda funny.</p>
		<p>Hmm? A disappearance from five years ago? Sorry, but I can't remember anything. I don't even know who I am or how I died. Even if I knew something important, I won't be able to tell you.</p>
		<p><i>We can help each other, you know?</i> If you solve my death and help me find my memories, I bet I can help you with your case. Deal?<i>"</i></p>
	</div>
	<!-- janitor -->
	<div class="sustalk janitortalk">
		<p><i>"</i> Gonna target the heavy guy? You're not slick. I'm not the one you should watch out for.</p>
		<p>I'll keep this short and sweet. I started working at around five years ago. Needed the extra cash and the incident at the time drove all the employees away, so I figured this was my best shot.</p>
		<p><i>THE OWNER, though... Don't let their cool demeanor charm you. There's something fishy about them.</i> For one thing, they're unfazed by all the rumors. It's like the whole thing was a publicity stunt that backfired.</p>
		<p>Was it? Hell if I know.<i>"</i></p>
	</div>
	<!-- owner -->
	<div class="sustalk ownertalk">
		<p><i>"</i> Now, now. Why on earth would I do something to ruin the reputation of my own store?</p>
		<p>I'd like to decline on answering anything about the incident from five years back. But I can tell you that I opened this parlor ten years ago following a childhood desire to make others happy. This parlor was meant to encapsulate the fluffy feeling of that star-sprinkled dream!</p>
		<p>The... mascot? Well, yes, the logo design was also representative of that idea, but why on earth would you call it a mascot? <i>A part-timer at the store? That's impossible. I never hired somebody to be THE MASCOT</i>.<i>"</i></p>
	</div>

	<p><i>***</i></p>
	<!-- selection -->
	<div class="sus">
		<img src="../images/suspects.png" usemap="#suspects" width="640px" height="260px" alt="lineup of the 4 suspects">
		<map name="suspects">
			<area class="server" shape="rect" coords="35,15,160,260" href="#" alt="server">
			<area class="mascot" shape="rect" coords="175,65,325,260" href="#" alt="mascot">
			<area class="janitor" shape="rect" coords="345,50,500,260" href="#" alt="janitor">
			<area class="owner" shape="rect" coords="510,20,630,260" href="#" alt="owner">
		</map>
		<img class="ghosty" src="../images/suspects_ghost.png" usemap="#masc" width="640px" height="260px" alt="it's a ghost!">
		<map name="masc">
			<area class="mascotghost" shape="rect" coords="175,65,345,260" href="#" alt="mascotghost">
		</map>
	</div>
	<p>Click on a person to interrogate.</p>
	<a href="parlor.html"><i>CONTINUE</i></a>
		
</div>

</div>


</body>
</html>